h1, h2 {
  border-radius: 5px; /* optional rounded corners */
  padding-top: 3vh;
}

.guestbook-title{
  font-size: 40px;
}

.guestbook-description {
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  .guestbook-title {
    font-size: 20px;
  }
  .guestbook-description {
    font-size: 15px;
  }
}

.background {
  background-image: url('../images/comments-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}