.cards-container {
  max-width: 950px;
}

.background {
  background-image: url('../images/projects-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
