<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title and regular tags -->
    <meta name="title" content="Benson Chow">
    <meta name="description" content="Benson Chow's personal website">
    <meta name="keywords" content="benson chow,bensonchow,benson">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Benson Chow">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.bensonchow.cf/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Benson Chow">
    <meta property="og:description" content="Benson Chow's personal website">
    <meta property="og:image" content="https://www.bensonchow.cf/static/images/BensonChow.jpeg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="bensonchow.cf">
    <meta property="twitter:url" content="https://www.bensonchow.cf/">
    <meta name="twitter:title" content="Benson Chow">
    <meta name="twitter:description" content="Benson Chow's personal website">
    <meta name="twitter:image" content="https://www.bensonchow.cf/static/images/BensonChow.jpeg">

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.bensonchow.cf/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.bensonchow.cf/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.bensonchow.cf/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="https://www.bensonchow.cf/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="https://www.bensonchow.cf/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://www.bensonchow.cf/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://www.bensonchow.cf/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#f79862">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--fonts-->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Source+Code+Pro:400,500,600,700'
          type='text/css' media='screen'/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:900" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">


    {% block head %}
    {% endblock %}
</head>
<body>
<div class="navbar-ul">
    <ul id="navbar-list" class="list-inline">
        <li><a class="navbar-ref" href="/">About me</a></li>
        <li><a class="navbar-ref" href="/🚧projects🚧">Projects</a></li>
        <li><a class="navbar-ref" href="/🛒shop🛒">Shop</a></li>
        <li><a class="navbar-ref" href="/🤗comments🤗">Comments</a></li>
    </ul>
</div>
{% block body %}
{% endblock %}
</body>
</html>