{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/comment.css') }}">
{% endblock %}
{% block body %}
    <video autoplay muted loop class="background-video">
        <source src="static/files/stars_background.mp4" type="video/mp4">
    </video>
    <h1>Thanks for visiting my website</h1>
    <h2>Feel free to comment below</h2>
    <div class="commentbox"></div>
        <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
        <script>commentBox('5692900272766976-proj',{
                    textColor: '#fff',
                    subtextColor: '#fff'
                    }
            );
        </script>
{% endblock %}