{% extends "base.html" %}

{% block body %}
{% if response %}
    {% if less_secure_apps %}
        <h1><strong>{{response}}<br><a href='https://myaccount.google.com/lesssecureapps?rapt=AEjHL4Mj5enAwVAx3jVHecwnfRY8jy1xXoIvX5alceQHEozh_4kqMmRQh3Kr-_XjdzUAScOUFd2M5wux9gsIh3cXGd1vQXoizA'>Allow smtp to send emails with your gmail account</a></strong></h1>
    {% else %}
        <h1><strong>{{response}}</strong></h1>
    {% endif %}
{% endif %}
<div>
    <form action="{{ url_for('email')}}" method="post">
        <p>Choose your sending email's email provider:</p>
        <label for="gmail" >Gmail</label>
        <input type="radio" id="gmail" name="email_provider" value="gmail"><br>
        <label for="outlook">Outlook</label>
        <input type="radio" id="outlook" name="email_provider" value="outlook"><br><br>
        <label for="target_email">Your target's email:</label><br>
        <input type="text" id="target_email" name="target_email" placeholder="target_email"><br>
        <label for="my_email">Your email address you want to send emails from:</label><br>
        <input type="text" id="my_email" name="my_email" placeholder="your_email"><br>
        <label for="my_password">Your password to your emails you just put:</label><br>
        <input type="password" id="my_password" name="my_password" placeholder="your_password"><br>
        <label for="amount">Amount of email you want to send</label><br>
        <input type="text" id="amount" name="amount" placeholder="amount"><br><br>
        <textarea id="email_content" name="email_content" rows="10" cols="50" placeholder="Your content"></textarea><br><br>
        <button type="submit">Send email</button>
    </form>
</div>
{% endblock %}