{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
<div class="background"></div>
<div class="body-container">
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="#"></a>
                            <a id="min" class="button" href="#"></a>
                            <a id="max" class="button" href="#"></a>
                        </div>
                        <span class="title">Terminal</span>
                    </div>
                    <div class="message">
                        <span class='prompt'>
                            <span class='user'>Benson Chow</span>
                            <span class="at">@</span>
                            <span class="path">C:\Users\Benson Chow&gt;</span>
                            <span class="caret">$</span>
                        </span>
                        <span class="typed"></span>
                        <form>
                            <span class="caret"></span><input type="text" name="response">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">Benson</p>
            <p class="text-title desktop-view">Chow</p>
            <p class="text-title mobile-view">Benson chow</p>
            <div class="social-icons">
                <a  target="_blank" href="https://github.com/bensonchow123">
                    <img class="title-logo" src="{{ url_for('static', filename='images/github-icon.svg') }}"
                         alt="github icon"></a>
                <a target="_blank" href="https://twitter.com/bensonchow2">
                    <img class="title-logo" src="{{ url_for('static', filename='images/twitter.svg') }}"
                         alt="twitter icon"></a>
                <a target="_blank" href="https://discord.gg/KkFW7uDfw7">
                    <img class="title-logo" src="{{ url_for('static', filename='images/discord_icon.svg') }}"
                         alt="discord icon"></a> <!-- if newline for /a tag, it adds an underscore for some reason -->
            </div>
        </div>
        <div class="middle-text">
            <div class="text-content">
                Hi there! I'm Benson Chow. Thanks for visiting my website—it's mainly for demonstrating my projects.<br><br>
                I recently started getting into 3D printing, and although I'm just designing basic parts for now, it's been a lot of fun, especially when I can create something useful for my audiophile setup. I don't own a 3D printer yet, so I send my designs off to people on eBay to print them for me.<br><br>
                Speaking of which, I'm a big fan of high-fidelity audio and love collecting high-quality FLAC music. My gear includes a Schiit Modi + Magni AMP and DAC stack, HD6XX headphones, Truthear Hexa and Red IEMs, MMCX modded Porta Pros headphones with Yaxi pads, Parts Express headpad, and a regular pair of Porta Pros. I enjoy tweaking my setup and experimenting with AMP and DAC dongles for on the go music listerning.<br><br>
                Another hobby of mine is building and customizing mechanical keyboards. My pride and joy is a modded Keychron Q3 with a PC plate, polyfill, tape, and PE foam mods. It features Staebies stabilizers, Black Ink V2 switches, and MT3 profile keycaps. I've hand-lubed and filmed all the switches for a smoother typing experience.<br><br>
                And of course, I love programming. You can check out my Projects page to see some of the things I've been working on. Coding ties all my hobbies together and keeps me constantly learning and exploring new ideas.<br><br>
                For this site, I used the python Flask web framework, it's hosted on a web server on render.com, and the domain name is a free domain from freenom.com!<br><br>
            </div>
            <iframe
                style="border-radius:12px"
                src="https://open.spotify.com/embed/playlist/5qZmlbRA9WvL1SiTaKk9Sw?utm_source=generator&theme=0"
                width="100%"
                height="152"
                frameborder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy">
            </iframe>
            <br>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}