{% extends "base.html" %}

{% block head%}
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="myShop">
    <a href="https://metallicweb7080-merch-shop1.myspreadshop.ie">metallicweb7080-merch-shop1</a>
</div>

<script>
    var spread_shop_config = {
        shopName: 'metallicweb7080-merch-shop1',
        locale: 'en_IE',
        prefix: 'https://metallicweb7080-merch-shop1.myspreadshop.ie',
        baseId: 'myShop'
    };
</script>

<script type="text/javascript"
        src="https://metallicweb7080-merch-shop1.myspreadshop.ie/shopfiles/shopclient/shopclient.nocache.js">
</script>
{% endblock %}