{% extends "base.html" %}


{% block head%}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/shop.css') }}">
{% endblock %}

{% block body %}
<div id="myShop">
    <a href="https://bensonchow.myspreadshop.co.uk">bensonchow</a>
</div>

<script>
    var spread_shop_config = {
        shopName: 'bensonchow',
        locale: 'en_GB',
        prefix: 'https://bensonchow.myspreadshop.co.uk',
        baseId: 'myShop'
    };
</script>

<script type="text/javascript"
        src="https://bensonchow.myspreadshop.co.uk/shopfiles/shopclient/shopclient.nocache.js">
</script>
{% endblock %}